{# src/AppBundle/Resources/views/User/registration.html.twig #}

{% extends "layout.html.twig" %}

{% form_theme form  'Form/form_errors.html.twig' %}

{% block title %}SnowTricks::Password Recovery{% endblock %}

{% block body %}

	<div class="container hv-body">
		<div class="col-lg-6 col-md-9 col-12">
            <h3>Mot de passe oublié?</h3>
            <p>Entrez votre adresse e-mail et nous vous enverrons des instructions pour réinitialiser votre mot de passe.</p>

            <form action="{{ path('ST_forgot_password') }}" method="POST">
                <div class="form-group">
                    {{ form_label(form.emailRecovery, "Email") }}
                    {{ form_widget(form.emailRecovery) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary col-12">
                        Réinitialiser le mot de passe
                    </button>
                </div>

                {# Automatic generation of fields not yet written.
                In this example, it would be the CSRF field (automatically managed by Symfony !)
                and all hidden fields. #}
                {{ form_rest(form) }}

            </form>
        </div>
    </div>

{% endblock %}