{# src/AppBundle/Resources/views/Tricks/index.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}SnowTricks::Accueil{% endblock %}

{% block body %}

    <div class="container">
        <div id="tricks" class="row">
        {% for trick in listOfTricks %}
            <div id="{{ trick.id }}" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 pt-5">
                <div class="card st-card-index">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <a href="{{ path('ST_trick_show', {'slug': trick.slug}) }}">
                                    <h5 class="card-title">{{ trick.title }}</h5>
                                </a>
                            </div>
                            {% if is_granted("ROLE_USER") %}
                            <div class="col-2">
                                <a href="{{ path('ST_trick_update', {'slug': trick.slug}) }}">
                                    <i class="fas fa-pencil-alt" title="Update"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
