{% block subject %}
    Merci de votre inscription
{% endblock %}

{% block body_html %}
    <p>Veuillez suivre le lien pour confirmer votre inscription</p>
    <a href="{{ absolute_url(path('ST_registration_check', { 'token': token })) }}">{{ absolute_url(path('ST_registration_check', { 'token': token })) }}</a>
{% endblock %}

{% block body_text %}
    Veuillez suivre le lien pour confirmer votre inscription {{ absolute_url(path('ST_registration_check', { 'token': token })) }}
{% endblock %}