{% block subject %}
    Mot de passe perdu?
{% endblock %}

{% block body_html %}
    <p>Veuillez suivre le lien definir un nouveau mot de passe.</p>
    <a href="{{ absolute_url(path('ST_reset_password', { 'token': token })) }}">{{ absolute_url(path('ST_reset_password', { 'token': token })) }}</a>
{% endblock %}

{% block body_text %}
    Veuillez suivre le lien definir un nouveau mot de passe {{ absolute_url(path('ST_reset_password', { 'token': token })) }}
{% endblock %}